body{
    background: linear-gradient(rgb(255, 0, 0),rgb(223, 53, 1),rgb(51, 0, 0));
}

h1{
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: auto;
    text-align: center;
}

p{
    color: white;
    width: 50%;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: auto;
}

hr{
    width: 50%;
    height: 20px;
    background: linear-gradient(black,rgb(117, 2, 2),black);
}

img{
    width: 600px;
    height: 400px;
    margin:auto;
}

.blockimage{
    width: fit-content;
    margin: auto;
}

#reddeadvid{
    width: 1000px;
    height: 600px;
    display: block;
    margin: auto;
}