body{
    background: linear-gradient(rgb(240, 79, 106),rgb(235, 29, 64),rgb(240, 79, 106));
}

.titulo{
    text-align: center;
    margin: auto;
    color: rgb(255, 196, 0);
    background: linear-gradient(rgb(17, 0, 170),rgb(19, 0, 187),rgb(17, 0, 170));
    font-family: cursive;
    border-radius: 80px;
    width: 40%;
    height: 360px;
}

.pergunta{
    text-align: center;
    margin: auto;
    color: rgb(255, 196, 0);
    background: linear-gradient(rgb(14, 0, 145),rgb(21, 0, 209),rgb(14, 0, 145));
    font-family: cursive;
    border-radius: 70px;
    width: 40%;
    height: 50px;
}

.kirbyvid{
    text-align: center;
}

.kirbyscreen{
    margin: auto;
    text-align: center;
}

.kirbyfl{
    margin: auto;
    text-align: center;
    font-family: cursive;
    color: rgb(255, 196, 0);
    background: linear-gradient(rgb(14, 0, 145),rgb(21, 0, 209),rgb(14, 0, 145));
    border-radius: 70px;
    width: 35%;
}

img{
    text-align: center;
    margin: auto;
    width: auto;
    height: 250px;
}

video{
    height: 700px;
}


hr{
    width: 55%;
    height: 10px;
    background: linear-gradient(rgb(26, 26, 240),rgb(0, 0, 107),rgb(26, 26, 240));
    border-radius: 70px;
}

p{
    text-align: center;
    font-size: 25px;
    font-family: cursive;
    color: rgb(0, 0, 107);
    background: linear-gradient(rgb(209, 143, 0),rgb(255, 196, 0),rgb(209, 143, 0));
    height: auto;
    width: 55%;
    margin: auto;
    border-radius: 40px;
}